@font-face {
    font-family: "phasmophobia_font";
    src: url("fonts/lazy_dog.ttf");
}

body {
    font-family: "phasmophobia_font";
    margin: 0;
    padding: 0;
    height: 100%;
}

body::before {
    content: "";
    position: fixed; /* Cambia a fixed para que el fondo cubra toda la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(10px); /* Ajusta el valor para el nivel de desenfoque deseado */
    z-index: -1; /* Coloca el pseudo-elemento detrás del contenido */
    opacity: 0.8; /* Ajusta la transparencia si es necesario */
}

#div_content {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    max-width: 80%; /* Ajusta este valor según el diseño */
    transform: translateX(-50%);
    box-sizing: border-box; /* Incluye el padding en el tamaño total */
    padding-bottom: 20px;
}

#div_items_menu, #div_filter_menu {
    background-color: rgb(20, 20, 20);
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    z-index: 1;
    color:#e8fad7;
    justify-content: space-around;
}

#div_filter_menu {
    justify-content: center;
    justify-content: space-between;
}

#div_filter_menu > * {
    margin: 10px;
}

#div_filter_menu label {
    font-size: 1.3vw;
}

#div_items_menu section {
    text-align: center;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    font-size: 1.6vw;
    cursor: pointer;
    background-size: 100% 100%; /* Ajusta la imagen al tamaño del section */
    background-repeat: no-repeat;
    background-position: center;

    
}



#div_ghosts {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
}

.ghostCard {
    
    background-color: white;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
}

.groupNameAndEvidencesCard {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.nameSectionCard {
    font-size: 2vw;
    text-align: center;
    display: flex;
    align-items: center; 
    justify-content: center;
    padding: 20px;
    background-color: rgb(20, 20, 20);
    color:#e8fad7;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;

    flex: 0 0 10%; /* Ocupa el 20% del ancho */
    

    
}


.evidencesDivCard {
    font-size: 1.3vw;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    height: fit-content;
    background-color: rgb(20, 20, 20);
    color:antiquewhite;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
    height: 100%;
}

.infoSectionCard {
    width: 100%;
    font-size: 1.3vw;
}





/* TIMER 

#clock-icon {
    margin-left: -55px;
    color: rgb(235, 234, 234);
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5vw;
    z-index: 1000;
}
*/
#clock-icon {
    position: absolute;
    top: 45%; /* Centrado verticalmente */
    left: -25px; /* Se posiciona justo en el borde izquierdo */
    transform: translateY(-50%); /* Ajusta el centro vertical */
    width: 50px;
    height: 50px;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1000;
    font-size: 1.5vw;
}

/* Estilo para el recuadro del temporizador */
#timer-container {
    position: fixed;
    top: 20px;
    right: -250px; /* Inicialmente fuera de la pantalla */
    width: 250px;
    height: fit-content;
    background-color: #f1f1f1;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 20px;
    transition: right 0.3s ease-in-out;
    z-index: 999;
}

/* Estilo para los botones y el display del temporizador */
#timer-display {
    font-size: 2em;
    text-align: center;
    margin-bottom: 15px;
}

.timer-button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    font-size: 1em;
    cursor: pointer;
}

#start-stop-button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
}

#reset-button {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
}






/* SIDE BAR */

/* Barra lateral flotante */
.cursedPossessions {
    position: fixed;
    top: 0;
    left: 0;
    width: 40px;
    height: fit-content;
    background-color: rgba(255,255,255,0.2);
    padding-top: 20px;
    border-radius: 10px 0px 10px 0px;
    z-index: 1000;
}

/* Estilos para los elementos de la barra lateral */
.cursedPossessions a {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    cursor: pointer;
}

.cursedPossessions a:hover {
    background-color: #575757;
}

/* Pantalla de información */
.cursedPossessionsPanel {
    position: fixed;
    top: 2%;
    left: 60px;
    width: 500px;
    height: fit-content;
    background-color: #f1f1f1;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: left 0.3s ease-in-out;
    z-index: 999;
    display: none;
    font-size: 1.5vw;
    text-align: justify;
    text-justify: inter-word;
    overflow-y: auto;
}

.cursedPossessionsPanel.active {
    left: 60px;
}

/* Estilos para el contenido de las pantallas */
.cursedPossessionPanelContent {
    display: none;
    overflow-y: auto;
    flex-wrap: wrap;
}

.cursedPossessionPanelContent.active {
    display: block;
}

/* Botón para cerrar la pantalla de información */
.cursedPossessionsPanelCloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
}

.cursedPossessionImage {
    width: 30px;
    height: 30px;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none; /* Oculto inicialmente */
    z-index: 998;
}

/* Mostrar el overlay y el panel activo */
.overlay.active, .cursedPossessionsPanel.active {
    display: block;
}






.itemsTrashIcon, .filterTrashIcon {
    position: absolute;
    top: 10px;
    right: 5px;
    cursor: pointer;
}



@media (max-width: 500px) {
    /* TOP MENU */
    #div_items_menu section {
        flex: 1;
        font-size: 3.5vw;
        padding: 10px;
    }

    /* CARDS */
    #div_ghosts {
        grid-template-columns: 1fr;
    }

    .ghostCard {
        display: flex;
        flex-direction: column;
        background-color: white;
        margin-top: 20px;
        justify-content: space-around;
    }

    .groupNameAndEvidencesCard {
        display: flex;
        flex: 0 0 25%; /* Ocupa el 25% del ancho del contenedor */
        flex-direction: column;
        width: 100%;
    }
    
    .nameSectionCard {
        font-size: 5vw;
        text-align: center;
        border-radius: 10px;
        margin-right: 0px;
        margin-bottom: 10px;
        
    }

    .evidencesDivCard {
        font-size: 4.5vw;
        text-align: center;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        border-radius: 10px;
    }

    .infoSectionCard {
        flex: 1;
        font-size: 3vw;
        margin-left: 0px;
        text-align: justify;
        width: fit-content;
    }


    /* TIMER */
    #clock-icon {
        font-size: 5vw;
        top: 20px;
    }


    /* SIDEBAR LEFT */

    .cursedPossessionsPanel {
        font-size:4vw;
        width: 300px;
    }
}











.checkbox-container {
    display: flex;
    align-items: center;
}

.custom-checkbox {
    display: none; /* Ocultar el checkbox original */
}

.custom-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    font-size: 16px;
    padding-left: 35px; /* Espacio para el checkmark */
    line-height: 20px;
}

.custom-label .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 4px;
    transition: background-color 0.3s, border-color 0.3s;
}

.custom-checkbox:checked + .custom-label .checkmark {
    background-color: #4CAF50;
    border-color: #4CAF50;
}

.custom-label .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-checkbox:checked + .custom-label .checkmark:after {
    display: block;
    left: 7px;
    top: 3px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}